* {
  background: transparent;
  overflow: hidden;
}

/* Global */
html{
  min-height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  background: #000754;
  zoom: 1.3; /* Old IE only */
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  transform-origin: top left;
}

body{
  height: 100%;
  padding: 4em;
  color: #fafafa;
  font-family: 'Source Code Pro', monospace; 
  line-height: 1.2;
}

li {
  padding:0px;
  margin-top: -3px;
  margin-left: -3px;
}

ul {
  margin-bottom: 3px;
}

p {
  text-align: justify;
}

.projecttype {
  position: absolute;
    margin: 20px 20px;
    margin: 0 auto;
    border-right: 3px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%); 
  width: auto;
  animation: blinkTextCursor 700ms steps(22) infinite normal;
}

.projecttype.DadBot{
  animation: blinkTextCursor 700ms steps(22) infinite normal !important;
}

.projecttype.ts {
  animation: blinkTextCursor 700ms steps(22) infinite normal !important;
}

.abstract_link {
  position: absolute;
    font-size: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(50%);
    left: 200px;
    top: 90px;
    width: 335px;
    padding: 5px;
}

.ts_link {
  width: 300px !important;
}

.db_link {
  width: 480px !important;
}

.project_info {
  position: absolute;
  top: 125px;
  width: 75%;
}

.top{
	content: "";
	position: fixed;
	top: 0px;
	left: 0px;
}

.project_line{
  top: 100px;
  left: 150px;
  height: 436px;
  width: 2px;
}

.project_line.tsr{
  top: 100px;
  left: 150px;
  height: 625px !important;
  width: 2px;
}

.offshoots {
  left: 150px;
  height: 2px;
  width: 330px;
}

.link_line {
  top: 133px;
}
.link_line::before {
  animation-delay: 0.25s !important;
}

.problem_line {
  top: 177px;
}
.problem_line::before {
  animation-delay: 0.5s !important;
}

.solution_line {
  top: 327px;
}
.solution_line::before {
  animation-delay: 1.15s !important;
}

.skills_line {
  top: 536px;
}
.skills_line::before {
  animation-delay: 2s !important;
}

.photos_line {
  top: 725px;
  width: 1350px;
  left: 150px;
  height: 2px;
}
.photos_line::before {
  content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000754;
        animation: horiz_animate 5s linear;
        animation-delay: 3s;
        animation-fill-mode: forwards;
}

.project_line::before{
  animation-delay: 2s !important;
  animation: animate 2s linear !important;
  animation-fill-mode: forwards !important;
}

.project_line.tsr::before{
  animation-delay: 2s !important;
  animation: animate 3s linear !important;
  animation-fill-mode: forwards !important;
}

.offshoots::before {
  content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000754;
        animation: horiz_animate 2s linear;
        animation-fill-mode: forwards;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
  background: transparent;
  color: #e96bff; /* PINK */
  position: absolute;
}

.mingyan.ascii-art {
  left: 10px;
  top: 220px;
}

.dissector.ascii-art{
  left: 15px;
  top: 150px;
}

.ringbearer.ascii-art{
  left: 15px;
  top: 290px;
}

.dadbot3009.ascii-art{
  left: 00px;
  top: 200px;
}

.sniffer.ascii-art{
  left: 40px;
  top: 180px;
}

.treesr.ascii-art {
  left: 30px;
  top: 310px;
}

.creepers.ascii-art {
  left: 50px;
  top: 160px;
}


#problem_statement{
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 200px;
  top: 150px;
  background: #000754;
}

#problem{
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 350px;
  top: 150px;
  width: 675px;
  background: #000754;
}

#solution_statement {
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 200px;
  top: 300px;
  background: #000754;
}

#solution{
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 350px;
  top: 300px;
  width: 675px;
  background: #000754;
}


#skills{
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 200px;
  top: 510px;
  background: #000754;
}

.inventory {
  padding-right: 5px;
  padding-left: 5px;
  position: absolute;
  left: 350px;
  top: 510px;
  background: #000754;
}

#photos{
    padding-right: 5px;
    padding-left: 5px;
    position: absolute;
    left: 200px;
    top: 699px;
    background: #000754;
}

.treepics{
  width: 200px;
  height: auto;
  border-radius: 10%;
  position: absolute;
  top: 720px;
}

.trees1 {
  left: 450px;
}

.trees2 {
  left: 750px;
}

.trees3 {
  left: 1050px;
}

.trees4 {
  left: 1350px;
}

.trees6 {
  top: 1200px !important;
  left: 450px;
}

.graphs {
  height: 435px;
  width: auto;
  border-radius: 10%;
  position: absolute;
  top: 1200px !important;
  left: 750px;
}


.diags {
  height: 435px;
  width: auto;
  border-radius: 10%;
  position: absolute;
  top: 1200px !important;
  left: 1050px;
}